.col-xs-12.col-sm-9
  %section.box.box-default
    .box-header
      %h3.box-title New club      
    %hr
    .box-body  
      = render 'form'
    .box-footer
      = link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, clubs_path, :class => "btn btn-default", :title => "Back to Clubs"
  %br  
= render 'sidenavbar'
