/ sidebar: style can be found in sidebar.less
%section.sidebar
  / sidebar menu: : style can be found in sidebar.less
  %ul.sidebar-menu
    %li
      %a{href: root_path}
        %i.fa.fa-home
        %span Home
    %li
      %a{href: clubs_path}
        %i.fa.fa-star
        %span Clubs
    %li.active
      %a{href: teams_path}
        %i.fa.fa-flag
        %span Teams
    %li
      %a{href: "#"}
        %i.fa.fa-maxcdn
        %span Matches
    %li
      %a{href: players_path}
        %i.fa.fa-group
        %span Players
    / %li
    /   %a{href: "#"}
    /     %i.fa.fa-list-alt
    /     %span MEdIS Audit
    / / sidebar menu
/ /.sideba