/ sidebar: style can be found in sidebar.less
%section.sidebar
  / sidebar menu: : style can be found in sidebar.less
  %ul.sidebar-menu
    %li
      %a{href: root_path}
        %i.fa.fa-home
        %span Home
    %li
      %a{href: clubs_path}
        %i.fa.fa-star
        %span Clubs
    %li.active
      %a{href: teams_path}
        %i.fa.fa-flag
        %span Teams
    %li
      %a{href: series_index_path}
        %i.fa.fa-trophy
        %span Series
    %li
      %a{href: matches_path}
        %i.fa.fa-maxcdn
        %span Matches
    %li
      %a{href: players_path}
        %i.fa.fa-group
        %span Players
    %li
      %a{href: umpires_path}
        %i.ion.ion-android-contacts
        %span Umpires
    %li
      %a{href: venues_path}
        %i.fa.fa-umbrella
        %span Venues
    %li.social
      %span
        #{social_share_button_tag("MyClubCricketStats", :url => request.original_url, :image => "http://www.elphax.com/assets/images/my-club-cricket-stats.png", desc: "MyClubCricketStats is a club cricket statics management application where users can create/manage the Clubs, Teams, and Players. MyClubCricketStats will calculate and populates each player and team stats after entering and saving the data.")}        
/ /.sideba