.col-xs-12.col-sm-9
  %section.box.box-default
    .box-header
      %h3.box-title New team     
    %hr
    .box-body  
      = render 'form'
    .box-footer
      = link_to '<i class="fa fa-arrow-circle-left"></i> Back'.html_safe, teams_path, :class => "btn btn-default"
  %br  
= render 'sidenavbar'