%tr
  %td.center
    = link_to '<i class="fa fa-user"></i>'.html_safe, umpire, :remote => true
  %td= umpire.first_name
  %td= umpire.last_name
  - if current_user.present? && umpire.user_id == current_user.id
    %td.center 
      = link_to '<i class="fa fa-trash-o"></i>'.html_safe, umpire, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-flat btn-default', :title => "Remove umpire"
  - else 
    %td           