.table-responsive 
  %table.table.table-bordered.table-striped
    %thead.venue_head
      %tr
        %th First Name
        %td= @umpire.first_name
      %tr
        %th Last Name
        %td= @umpire.last_name
