/ sidebar: style can be found in sidebar.less
%section.sidebar
  / sidebar menu: : style can be found in sidebar.less
  %ul.sidebar-menu
    %li
      %a{href: root_path}
        %i.fa.fa-home
        %span Home
    %li
      %a{href: clubs_path}
        %i.fa.fa-star
        %span Clubs
    %li
      %a{href: teams_path}
        %i.fa.fa-flag
        %span Teams
    %li
      %a{href: series_index_path}
        %i.fa.fa-trophy
        %span Series
    %li
      %a{href: matches_path}
        %i.fa.fa-maxcdn
        %span Matches
    %li.active
      %a{href: players_path}
        %i.fa.fa-group
        %span Players
    %li
      %a{href: umpires_path}
        %i.ion.ion-android-contacts
        %span Umpires
    %li
      %a{href: venues_path}
        %i.fa.fa-umbrella
        %span Venues
/ /.sideba